*{
	padding: 0;
	margin: 0;
}
body{
	font-family:'hiragino sans gb','PingFangSC-Medium','微软雅黑';
}
.main-wrap{
	width: 940px;
	margin: 0 auto;
	background: #f2f2f2;
}
table{
	width: 100%;
}
h2{
	font-size: 14px;
	text-align: center;
	padding: 20px;
}
tr{
	display: block;
	border-top: 1px solid #797979;
}
.info-head:after{
	display: block;
	content:"";
	clear: both;
}
.info-head li{
	float: left;
	background: #fff;
	list-style: none;
	padding: 10px 20px;
	border-top: 1px solid #787878;
	border-left:  1px solid #787878;
}
.info-head .select{
	color: #169bd5;
}
.info-head li:last-child{
	border-right:  1px solid #787878;
}
td{
	border-right:  1px solid #787878;
	box-sizing: border-box;
	padding: 10px;
	color: #333334;
}
td p{
	max-width: 430px;
}
.col-1{
	width: 160px;
	text-align: center;
}
.col-2{
	width: 100px;
	text-align: center;
}
.col-3{
	text-align: left;
	width: 500px;
	position: relative;
}
.col-4{
	border-right: none;
	width: 180px;
	color: #ff9933;
}
.col-3 a{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
footer{
	text-align: center;
	border-top: 1px solid #797979;
	padding: 15px 0;
}
footer input{
	padding: 10px 0;
	border: 1px solid #797979;
	background: #fff;
	border-radius: 5px;
	width: 150px;
}
a{
	text-decoration: none;
}