@charset "utf-8";

body{
	font-size:14px;
	font-family:'hiragino sans gb','PingFangSC-Medium','微软雅黑';
}
.btn{
	padding:0;
}
#nav{
	width:1200px;
	height:100px;
	margin:0 auto;
	overflow: hidden;
}
#nav .nav-left{
	width:240px;
	height:100px;
	background: #0d1935;
	float:left;
	position: relative;
}
#nav .nav-left h1{
	width:52px;
	height:52px;
	position: absolute;
	top:26px;
	left:14px;
	background: url('../img/logo.png') no-repeat;
	text-indent: -9999px;
	color:#fff;
	border-radius: 4px;
	float:left;
}
#nav .nav-left h2{
	margin:0;
	font-size:24px;
	letter-spacing: 1.8px;
	color:#D82585;
	position: absolute;
	left:74px;
	top:43px;
}
#nav .nav-right{
	float:left;
	width:960px;
	height:100px;
	position: relative;
	/*border-bottom:1px solid yellow;*/
	box-shadow: 0 2px 2px yellow;
}
#nav .nav-right .nav-right-name{
	float:left;
	width:221px;
}
#nav .nav-right .nav-right-name-ple span{
	display: block;
	width:117px;
	height:45px;
	margin:12px 0 0 39px;
	font-size:24px;
	color:#D82585;
}
#nav .nav-right .nav-right-name-bus span{
	margin:5px 0 0 42px;
	display: block;
	width:221px;
	height:20px;
	color:#666;
	size:14px;
}
#nav .nav-right-mon{
	float:left;
	width:135px;
	height:53px;
	margin:33px 33px 33px 40px;
}
#nav .nav-right-mon .nav-right-amout{
	height:26px;
}
#nav .nav-right-mon .nav-right-mon-rmb{
	height:26px;
	display:table-cell; 
    vertical-align:bottom;
}
#nav .nav-right-mon .nav-right-mon-rmb span{
	font-size:20px;
	color:#D82585;
}
#nav .nav-right .nav-right-rechange{
	width:81px;
	height:26px;
	background: #D82585;
	color:#fff;
	position: absolute;
	left:440px;
	top:56px;
}
#nav .nav-right .nav-right-index{
	width:20px;
	height:22px;
	position: absolute;
	top:39px;
	left:754px;
	background: url('../img/index.png') no-repeat!important;
	border-color:transparent!important;
	text-indent: -9999px;
}
#nav .nav-right .nav-right-drop{
	width:22px;
	height:23px;
	position: absolute;
	top:39px;
	left:830px;
	background: url('../img/drop.png') no-repeat!important;
	border-color:transparent!important;
	text-indent: -9999px;
}
#nav .nav-right .nav-right-loginfo{
	width:60px;
	height:60px;
	border-radius: 60px;
	position: absolute;
	top:19px;
	left:890px;
	overflow: hidden;
}
#main{
	width:1200px;
	margin:0 auto;
}
#main .aside{
	width:240px;
	padding-top:30px;
	min-height:520px;
	background: #0d1935;
	color:#fff;
	float:left;
}
#main .aside .aside-manage{
	width:207px;
	margin-left:33px;
}
#main .aside .aside-manage ul{
	width:150px;
	height:90px;
	text-align: center;
	display: none;
}
#main .aside .aside-manage-1 ul{
	height:120px;
}
#main .aside .aside-manage-2 ul{
	height:60px;
}
#main .aside .aside-manage-3 p a,
#main .aside .aside-manage-4 p a,
#main .aside .aside-manage-5 p a{
	color:#fff;
	text-decoration: none;
}
#main .aside .aside-manage ul li{
	height:30px;
	line-height:30px;
	width:150px;
	text-align: center;
	font-family:'hiragino sans gb','PingFangSC-Medium','微软雅黑';
	position:relative;
}
#main .aside .aside-manage ul li a{
	color:#fff;
	font-size:15px;
	font-family:'hiragino sans gb','PingFangSC-Medium','微软雅黑';
	height:30px;
	line-height:30px;
	display: inline-block;
}
#main .aside .aside-manage-sub li:hover .aside_manage_sun{
	display: block;
	z-index: 2;
}
#main .aside .aside-manage .aside_manage_sun{
	display: none;
	position: absolute;
    top: 0;
    right: -60px;
    background: #0c1325;
    width: 100px;
}
#main .aside .aside-manage .aside_manage_sun .aside_manage_sun_ticket{
	position: relative;
}
#main .aside .aside-manage .aside_manage_sun .aside_manage_sun_ticket:hover .aside_manage_sun_sun{
	display: block;
}
#main .aside .aside-manage .aside_manage_sun_sun{
	display: none;
	position: absolute;
    top: 0;
    right: -90px;
    background: #0c1325;
    width: 100px;
}
#main .aside .aside-manage ul li a:link,
#main .aside .aside-manage ul li a:visited,
#main .aside .aside-manage ul li a:hover,
#main .aside .aside-manage ul li a:active
{
	text-decoration: none;
}
#main .aside .aside-manage p{
	width:207px;
	height:45px;
	line-height: 45px;
	position: relative;
}
#main .aside .aside-manage .icon{
	width:23px;
	height:23px;
	display: inline-block;
	text-indent: -999px;
	position: relative;
	top:12px;
	margin-right:18px;
}
#main .aside .aside-manage-triangle{
	display: inline-block;
	width:0;
	height:0;
	position: absolute;
	top:12px;
	right:0;
	border-left:0px solid #ff0;
	border-top:10px solid #0d1935;
	border-right:10px solid #fff;
	border-bottom:10px solid #0d1935;
	display:none;
}
#main .aside .aside-manage em{
	letter-spacing: 1.3px;
	font-size:18px;
	margin-right:21px;
	cursor:pointer;
}
#main .aside .aside-manage .detail{
	display: inline-block;
	width:8px;
	height:14px;
	text-indent: -999px;
	position: relative;
	top:14px;
	background: url('../img/detail.png') no-repeat;
}
.detail-1{
	display: inline-block;
	width:20px;
	height:14px;
	text-indent: -999px;
	position: relative;
	top:18px;
	left:-2px;
	background: url('../img/detail-1.png') no-repeat;
}
#main .aside .aside-manage .icon-manage{
	background: url('../img/product.png') no-repeat;
}
#main .aside .aside-manage .icon-order{
	background: url('../img/order.png') no-repeat;
	position: relative;
	top:10px;
}
#main .aside .aside-manage .icon-finance{
	height:45px;
	background: url('../img/finance.png') no-repeat;
	position: relative;
	top:6px;
}
#main .aside .aside-manage .icon-user{
	background: url('../img/user.png') no-repeat;
	height:45px;
	position: relative;
	top:10px;
}
#main .aside .aside-manage ul li{
	cursor:pointer;
}
#main .aside .aside-manage .icon-supplier{
	background: url('../img/supplier.png') no-repeat;
}
#main .aside .aside-manage .icon-info{
	background: url('../img/info.png') no-repeat;
}
#main .aside .aside-manage .icon-data{
	background: url('../img/data.png') no-repeat;
}
#main .aside .aside-manage .icon-marketing{
	background: url('../img/marketing.png') no-repeat;
}
#main .aside .aside-manage .icon-num{
	background: url('../img/num.png') no-repeat;
}
#main .main-right{
	width:960px;
	min-height:500px;
	background: #f5f6fa;
	float:right;
}
/*右侧主体显示*/
#main-right-show{
	width:960px;
	min-height:500px;
	height:100%;
	padding-bottom:30px;
}



/*footer 样式*/
.footer{
	width:960px;
	height:45px;
	position: fixed;
	bottom:0;
	box-shadow: 0 -2px 2px #ccc;
	background: #ddd;
}
.footer-left{
	width:500px;
	height:45px;
	float:left;
}
.footer .footer-left .footer-state{
	width:80px;
	text-align: center;
	height:45px;
	line-height:40px;
	float:left;
	position: relative;
	cursor:pointer;
}
.footer .footer-left .footer-state span{
	width:60px;
	height:3px;
	background: #02a3c6;
	position: absolute;
	top:33px;
	left:11px;
	display: none;
}
.footer-right{
	width:460px;
	height:45px;
	float:right;
}
.footer-right figure{
	width:60px;
	height:45px;
	line-height:45px;
	float:right;
	text-align: center;
	border:1px solid #ccc;
	cursor: pointer;
	position: relative;
}
.footer-right .footer-order,.footer-right .footer-order:hover{
	background: #ff923f;
	border:1px solid #ccc;
}
.footer-right .footer-user:hover{
	background: #3ab6f4;
	border:1px solid #ccc;
}
.footer-right .footer-info:hover{
	background: #a07eb7;
	border:1px solid #ccc;
}
.footer-right .footer-income:hover{
	background: #24a887;
	border:1px solid #ccc;
}
.footer-right figure .footer-alert{
	width:100px;
	height:70px;
	border-radius: 4px;
	line-height:30px;
	background: #06c2eb;
	position: absolute;
	top:-70px;
	left:-42px;
	display: none;
}
.footer-right figure .footer-alert p{
	color:#fff;
}
.footer-right figure .footer-alert span{
	display: inline-block;
	margin-left: 10px;
	font-size:13px;
	color:#000;
}
.footer-right figure .footer-alert .footer-btn{
	width:60px;
	height:25px;
	background: #fff;
	color:#333;
}

/*用户添加模态框*/
/*#myModal{
	margin-top: 100px;
}*/
.modal-dialog{
	margin:180px auto;
}
/*#myModal .customer-add{
	margin-bottom: 15px;
}*/
.modal-header{
	text-align: center;
}
.modal-dialog .gap{
	margin-left: 20px;
	margin-top:15px;
	width:182px; 
}
.gap-front{
	display: inline-block;
    margin-left: 30px;
    position: relative;
}
.customer-order-state li a:hover{
	cursor: pointer;
}
#myModal .customer-add span{
	display: inline-block;
	height:34px;
	line-height: 34px;
	position: relative;
    top: 8px;
}
#myModal .customer-cacel{
	width:60px;
	height:30px;
	margin-right: 20px;
}
#myModal .customer-sure{
	margin-left: 20px;
	width:60px;
	height:30px;
}
/*模态框的密码显示*/
.password-toggle{
	display: inline-block;
    position: absolute;
    right: 42px;
    top: 35px;
}
/* 用户添加的错误信息提示 */
#myModal .customer-info{
	color: red;
    font-size: 13px;
    margin-left: 20px;
}

/*.........增加客户分组下菜单左侧弹出属性*/
.btn-group .bmTotal{
	left: 14px;
}
/*option 鼠标指针*/
.dropdown-menu {
	cursor: pointer;
}